#include "..\INC\cursor.inc"
#include "..\INC\bitmap.inc"
#include "..\INC\dialog.inc"

#include "filedial.dlg"
#include "palette.dlg"
#include "strings.rc"
#include "io_em.rc"

BMP_TrdeMark     BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		   "al.bmp"

ID_BTN256_ABOUT  BITMAP256 LOADONCALL MOVEABLE PURE DISCARDABLE
		 "about.dta"

CSR_OT_Hand      CURSOR LOADONCALL MOVEABLE PURE DISCARDABLE
		   "..\CUR\hand.cur"

ID_TRUEVIEW_ICON  ICON LOADONCALL MOVEABLE PURE DISCARDABLE
		    "trueview.ico"

ID_BTNBMP_LOAD_N    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "load_n.bmp"
ID_BTNBMP_LOAD_S    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "load_s.bmp"
ID_BTNBMP_LOAD_P    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "load_p.bmp"

ID_BTNBMP_SAVE_N    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "save_n.bmp"
ID_BTNBMP_SAVE_S    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "save_s.bmp"
ID_BTNBMP_SAVE_P    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "save_p.bmp"

ID_BTNBMP_VIEW_N    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "view_n.bmp"
ID_BTNBMP_VIEW_S    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "view_s.bmp"
ID_BTNBMP_VIEW_P    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "view_p.bmp"

ID_BTNBMP_EXIT_N    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "exit_n.bmp"
ID_BTNBMP_EXIT_S    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "exit_s.bmp"
ID_BTNBMP_EXIT_P    BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "exit_p.bmp"

ID_BTNBMP_PALETTE_N BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "color_n.bmp"
ID_BTNBMP_PALETTE_S BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "color_s.bmp"
ID_BTNBMP_PALETTE_P BITMAP LOADONCALL MOVEABLE PURE DISCARDABLE
		      "color_p.bmp"
