#include "..\INC\io_em.inc"

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
 BEGIN

   IO_ERR_OPENREAD,           "File:  '%s' - is not acessibal !"
   IO_ERR_READ,	              "File:  '%s' - acess failed"
   IO_ERR_INVALIDFORMAT,      "File:  '%s' - is a not 3DWorld's format"
   IO_ERR_CREATEHOLD,         "For file:  '%s'  cann't create hold file"
   IO_ERR_OPENHOLD,           "Cann't open hold file: '%s'"
   IO_ERR_WRITE,              "File:  '%s' - writing failed"
   IO_ERR_NOTHOLDED,          "File:  '%s' - is not holded"
   IO_ERR_GETHOLDEDNAME,      "For file: '%s'   error get hold name"
   IO_MSG_ALREDYEXIST,        "File:  '%s' - is already exist !  Owerwrite ?"
   IO_ERR_CREATE,             "File:  '%s' - cann't create !"
   IO_MSG_DELETEALL,          "%sDelete all selected bodys ?"
   IO_MSG_SELECTEDBODYSNOTFOUND, "%sSelected bodys not found"
   IO_MSG_NOMEMFORCOPY,       "%sNot enought memory for copy"
   IO_MSG_EMPTYCLIPBOARD,     "%sClipboard is emty"

   ID_TITLE_ERROR,            "Error"
   ID_TITLE_WARNING,          "Warning"
   ID_TITLE_MESSAGE,          "Message"
   ID_TITLE_QUERY,            "Query"


   ID_DOS_ERR_0,    "Error 0"
   ID_DOS_ERR_1,    "Invalid function number"
   ID_DOS_ERR_2,    "File not found"
   ID_DOS_ERR_3,    "Path not found"
   ID_DOS_ERR_4,    "Too many open files"
   ID_DOS_ERR_5,    "Permission denied"
   ID_DOS_ERR_6,    "Bad file number"
   ID_DOS_ERR_7,    "Memory arena trashed"
   ID_DOS_ERR_8,    "Not enough memory"
   ID_DOS_ERR_9,    "Invalid memory block address"
   ID_DOS_ERR_10,   "Invalid environment"
   ID_DOS_ERR_11,   "Invalid format"
   ID_DOS_ERR_12,   "No more files"
   ID_DOS_ERR_13,   "Invalid data"
   ID_DOS_ERR_14,   "No such device"
   ID_DOS_ERR_15,   "Invalid device"
   ID_DOS_ERR_16,   "Attempt to remove current directory"
   ID_DOS_ERR_17,   "Not same device"
   ID_DOS_ERR_18,   "No more files"
   ID_DOS_ERR_19,   "Attempt to write on write-protected disk"
   ID_DOS_ERR_20,   "Unknown device"
   ID_DOS_ERR_21,   "Device not ready"
   ID_DOS_ERR_22,   "Unknown command"
   ID_DOS_ERR_23,   "CRC error"
   ID_DOS_ERR_24,   "Invalid length of query"
   ID_DOS_ERR_25,   "Illegal seek"
   ID_DOS_ERR_26,   "Unknown media type"
   ID_DOS_ERR_27,   "Sektor not found"
   ID_DOS_ERR_28,   "In printer no papir"
   ID_DOS_ERR_29,   "Error writing"
   ID_DOS_ERR_30,   "Error reading"
   ID_DOS_ERR_31,   "Common error"
   ID_DOS_ERR_32,   "Error separating"
   ID_DOS_ERR_33,   "Error locking"
   ID_DOS_ERR_34,   "Bad mount floppy disk"
   ID_DOS_ERR_35,   "FCB not present"
   ID_DOS_ERR_36,   "Shared file is overflow"
   ID_DOS_ERR_50,   "Net query not support"
   ID_DOS_ERR_51,   "Net server not on line"
   ID_DOS_ERR_52,   "Cross-device link"
   ID_DOS_ERR_53,   "Cross name not found"
   ID_DOS_ERR_54,   "Cross is not acessible"
   ID_DOS_ERR_55,   ""
   ID_DOS_ERR_56,   ""
   ID_DOS_ERR_57,   ""
   ID_DOS_ERR_58,   ""
   ID_DOS_ERR_59,   ""
   ID_DOS_ERR_60,   ""
   ID_DOS_ERR_61,   ""
   ID_DOS_ERR_62,   ""
   ID_DOS_ERR_63,   ""
   ID_DOS_ERR_64,   ""
   ID_DOS_ERR_65,   ""
   ID_DOS_ERR_66,   ""
   ID_DOS_ERR_67,   ""
   ID_DOS_ERR_68,   ""
   ID_DOS_ERR_69,   ""
   ID_DOS_ERR_70,   ""
   ID_DOS_ERR_71,   ""
   ID_DOS_ERR_72,   ""
   ID_DOS_ERR_80,   "File already exist"
   ID_DOS_ERR_81,   ""
   ID_DOS_ERR_82,   "Directory can not create"
   ID_DOS_ERR_83,   "Int 24h failure"
   ID_DOS_ERR_84,   ""
   ID_DOS_ERR_85,   ""
   ID_DOS_ERR_86,   ""
   ID_DOS_ERR_87,   "Bad argument"
   ID_DOS_ERR_88,   ""
   ID_DOS_ERR_89,   ""
   ID_DOS_ERR_90,   ""


   ID_MSG_1,        "Internal application error: MDIFrame cann't get INFO for active child"
   ID_MSG_2,        "Internal application error: From 'Open'"
   ID_MSG_3,        "Internal application error: File maneger cann't find handle"
   ID_MSG_4,        "Internal application error: From 'CMHold'"
   ID_MSG_5,        "Internal application error: From 'CMFetch'"
   ID_MSG_6,        "Invalid viewport for that operation"
   ID_MSG_7,        "Internal application error: child cann't get INFO for self file"
   ID_MSG_8,        "Window cann't close. It is locked by child process"
   ID_MSG_9,        "Mode is already active. Click start point in any window"
   ID_MSG_10,       "No facets in this object"
   ID_MSG_11,       "Not enought memory for create clone"
   ID_MSG_12,       "Window is locked"
   ID_MSG_13,       "Internal application error: scena cann't find obol."
   ID_MSG_14,       "Error reading swap file"
   ID_MSG_15,       "Internal application error(AligmentZ): invalid normal vector"

   ID_MSG_16,       "Select vertex"
   ID_MSG_17,       "Select point or vertex"
   ID_MSG_18,       "Select object"
   ID_MSG_19,       "Move mouse for change angles"
   ID_MSG_20,       "Click left corner of window"
   ID_MSG_21,       "Select base point for shift"
   ID_MSG_22,       "Move mouse for set shifting point"
   ID_MSG_23,       "Select radius of sphere"
   ID_MSG_24,       "Select radius1 of torus"
   ID_MSG_25,       "Select radius2 of torus"
   ID_MSG_26,       "Select radius1 of base tube"
   ID_MSG_27,       "Select radius2 of base tube"
   ID_MSG_28,       "Click base point for select high of tube"
   ID_MSG_29,       "Select high of tube"
   ID_MSG_30,       "Move mouse for select width and high of window"
   ID_MSG_31,       "Select placement of global base point."
   ID_MSG_32,       "Need assign name"
   ID_MSG_33,       "Name [%s] already exist !  Owerwrite ?"
   ID_MSG_34,       "Setup surface material."

   ID_MSG_35,       "Restore scr&een division\tCtr+Alt+R"
   ID_MSG_36,       "&Grow as main window"
   ID_MSG_37,       "&Auto fit to window"
   ID_MSG_38,       "Restore &view (remove bitmap)"
   ID_MSG_39,       "Popup all &views"
   ID_MSG_40,       "File [%s] is CHANGED and not saved\nYou want to save ?"
   ID_MSG_41,       "Select base center of %d sides %s"
   ID_MSG_42,       "Click in viewport for select center of %d horiz. & %d merid. sphere"
   ID_MSG_43,       "Click in viewport for select center of %d horiz. & %d merid. torus"
   ID_MSG_44,       "Click in viewport for select center of %d sides tube"
   ID_MSG_45,       "Click base point for select high of %s"
   ID_MSG_46,       "Move mouse for drag object. ENTER - change move axis, SHIFT - clone"
   ID_MSG_47,       "Move mouse for select new scale. ENTER - change scale axis, SHIFT - clone"
   ID_MSG_48,       "Move mouse for select scale. SHIFT - clone"
   ID_MSG_49,       "Move mouse for rotate object. ENTER - change axis, SHIFT - clone"

   ID_MSG_50,       "&About 3D World...\tCtr+Alt+A"
   ID_MSG_51,       "&Default position window"
   ID_MSG_52,       "*.*     All files"
   ID_MSG_53,       "*.MLI   Matirial script"
   ID_MSG_54,       "*.3DW   3D World scene"
   ID_MSG_55,       "*.DXF   CAD metafile"
   ID_MSG_56,       "Load a file"
   ID_MSG_57,       "Hold file"
   ID_MSG_58,       "For file: [%s] error get hold name"
   ID_MSG_59,       "Fetch file"
   ID_MSG_60,       "Save a file"
   ID_MSG_61,       "Copy to clipboard & cut"
   ID_MSG_62,       "Copy to clipboard"
   ID_MSG_63,       "Medium [%s] is assigned"
   ID_MSG_64,       "*.BMP   Windows DIB bitmap file"
   ID_MSG_65,       "Delete object %d  ?"
   ID_MSG_66,       "Body %d is %s"
   ID_MSG_67,       "unselected"
   ID_MSG_68,       "selected"
   ID_MSG_69,       "Render model"
   ID_MSG_70,       "The file: '%s' "
   ID_MSG_71,       "      %10s  %10s  %10s"
   ID_MSG_72,       "------------------------------------------------------------"
   ID_MSG_73,       "%4d: %10d  %10d  %10d"
   ID_MSG_74,       "------------------------------------------------------------"
   ID_MSG_75,       "In [%d] bodys total:"
   ID_MSG_76,       "      Vertex  %-10lu"
   ID_MSG_77,       "      Adges   %-10lu"
   ID_MSG_78,       "      Faces   %-10lu"
   ID_MSG_79,       "File: ""%s"" is not saved !  Reastore ?"

   ID_MSG_80,       "Value [%s] out of range. Need  %d <= value <= %d"
   ID_MSG_81,       "Value [%s] out of range. Need  %1.3f <= value <= %1.3f"
   ID_MSG_82,       "Value [%s] out of range. Need  %u <= value <= %u"
   ID_MSG_83,       "Value [%s] out of range. Need  %u <= value <= %u"
   ID_MSG_84,       "Invalid control"
   ID_MSG_85,       "Emty input"
   ID_MSG_86,       "Value [%s] - Invalid data format"
   ID_MSG_87,       "Value [%s] - out of range"
   ID_MSG_88,       ""

   ID_MSG_89,       "Setup ambient"

 END

