
#include "..\INC\menu.inc"


MainMenu MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New", UCM_NEW_FILE
		MENUITEM "&Open...\tF3", UCM_OPEN
		MENUITEM "Cl&ose\tAlt+F3", UCM_CLOSE, GRAYED
		MENUITEM "Close a&ll", UCM_CLOSE_ALL, GRAYED
		MENUITEM "&Save\tF2", UCM_SAVE, GRAYED
		MENUITEM "Save &as\tAlt+F2", UCM_SAVE_AS, GRAYED
		MENUITEM "&Restore from source", UCM_RETRIVE_SOURCE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Create render log file", UCM_LOGGING
		MENUITEM SEPARATOR
		MENUITEM "E&xit\tAlt+F4", UCM_EXIT
		MENUITEM SEPARATOR
	END

	POPUP "&Edit"
	BEGIN
		MENUITEM "&Create simple object...", UCM_CREATE_SIMPLEOBJ
		MENUITEM SEPARATOR
		MENUITEM "&Move", UCM_MOVEBODY
		MENUITEM "&Rotate", UCM_ROTATEBODY
		MENUITEM "Scale &2D", UCM_2DSCALEBODY
		MENUITEM "Scale &3D", UCM_3DSCALEBODY
		MENUITEM "Use &base UCS", UCM_USE_BASEUCS
		MENUITEM SEPARATOR
		MENUITEM "&Delete", UCM_DELETEBODY
		MENUITEM "Alignment &vertex", UCM_ALIGMENT_VERTEX
		MENUITEM "Alignment &facet", UCM_ALIGMENT_FACET
		MENUITEM SEPARATOR
		MENUITEM "C&opy\tCtrl + Ins", UCM_COPYBODY
		MENUITEM "Cu&t\tShift + Del", UCM_CUTBODY
		MENUITEM "&Paste\tShift + Ins", UCM_PASTEBODY
		MENUITEM SEPARATOR
		MENUITEM "Select", UCM_SELECT
		MENUITEM "Select &Window", UCM_SELECTWINDOW
		MENUITEM "Use crossing frame", UCM_USE_CROSSING_FRAME
		MENUITEM "Select &All", UCM_SELECTALL
		MENUITEM "&Invert selecting mode", UCM_INVERTSELMODE
		MENUITEM "Invert selectin&g", UCM_INVERTSELECTING
	END

	POPUP "&Views"
	BEGIN
		MENUITEM "&Redraw", 10, INACTIVE
		MENUITEM "Redraw &All", 11, INACTIVE
		MENUITEM SEPARATOR
		MENUITEM "View &ports...", UCM_SELECT_SCRVPORTS
		MENUITEM "Grid &Extents...", UCM_GRID_EXTENTS
		MENUITEM SEPARATOR
		MENUITEM "Use &Snap", UCM_USE_SNAP, CHECKED
		MENUITEM "Use &Grid", UCM_USE_GRID, CHECKED
		MENUITEM "A&xis On/Off", UCM_AXIS_ON_OFF, CHECKED
		MENUITEM "&Hidden geometry", UCM_HIDEGEOMETRY, CHECKED
		MENUITEM "&Full detailing", UCM_FULLDETALL, CHECKED
		MENUITEM SEPARATOR
		MENUITEM "User &UCS Setup...", UCM_USERUCS_SETUP
		POPUP "Base &point"
		BEGIN
			MENUITEM "Global base visible", UCM_SET_BP_VISIBLE
			MENUITEM "Use global base point", UCM_USE_GLOBAL_BP
			MENUITEM "Setup global base point", UCM_SETUP_GLOBAL_BP
		END

		MENUITEM "Vport align to facet", UCM_VPORT_ALIGN
		MENUITEM SEPARATOR
		MENUITEM "&100%", UCM_F_ZOOM100
		POPUP "&Zoom"
		BEGIN
			MENUITEM "&100", UCM_F_ZOOM100
			MENUITEM "&200", UCM_F_ZOOM200
			MENUITEM "&300", UCM_F_ZOOM300
			MENUITEM "&400", UCM_F_ZOOM400
			MENUITEM "&500", UCM_F_ZOOM500
			MENUITEM "&75", UCM_F_ZOOM75, MENUBARBREAK
			MENUITEM "5&0", UCM_F_ZOOM50
			MENUITEM "25", UCM_F_ZOOM25
			MENUITEM "10", UCM_F_ZOOM10
			MENUITEM "5", UCM_F_ZOOM5
		END

		MENUITEM "Zoom to &fit", UCM_F_FIT_TO_ZOOM
	END

	POPUP "&Matirials"
	BEGIN
		MENUITEM "&Assign...", UCM_ASSIGN_MATERIAL
		MENUITEM "&Smooth...", UCM_SMOTH
		MENUITEM SEPARATOR
		MENUITEM "&Save medium...", UCM_SAVE_MEDIUM
		MENUITEM "&Load medium...", UCM_LOAD_MEDIUM
	END

	POPUP "&Lights", GRAYED
	BEGIN
		MENUITEM "&Ambient...", UCM_AMBIENT
		MENUITEM "&Create omni", UCM_OMNI_CREATE
		MENUITEM "Ad&just Omni...", UCM_OMNI_ADJUST
		MENUITEM "Place hilite", UCM_PLACEHILITE
	END

	POPUP "&Cameras", GRAYED
	BEGIN
		MENUITEM "&Create", UCM_CAMERA_CREATE
		MENUITEM "&Adjust...", UCM_CAMERA_ADJUST
		MENUITEM "&Move", UCM_CAMERA_MOVE
		MENUITEM "&Roll", UCM_CAMERA_ROLL
		MENUITEM "AO&V", UCM_CAMERA_AOV
		MENUITEM "&Dolly", UCM_CAMERA_DOLLY
	END

	POPUP "&Render", GRAYED
	BEGIN
		MENUITEM "&View polygonal models...", UCM_RENDER
		MENUITEM "&Photo...", UCM_RENDER_FULL
		MENUITEM "&Setup backgraund..", UCM_BKGND_SETUP
		MENUITEM "&Image options...", UCM_IMAGE_OPTIONS
	END

	POPUP "&Options"
	BEGIN
		MENUITEM "S&cene Info", UCM_SCENEINFO
		MENUITEM "&Directories...", -1
		MENUITEM SEPARATOR
		POPUP "Screen &Layout"
		BEGIN
			MENUITEM "&View ports Toolbar", UCM_TOGGLE_VPORTTOOL, CHECKED
			MENUITEM "&Status line Bar", UCM_TOGGLE_STATUSBAR, CHECKED
		END

		MENUITEM SEPARATOR
		MENUITEM "&Auto save Desktop", -1, CHECKED
		MENUITEM "Auto save Screen &Layout", -1, CHECKED
		MENUITEM "&Restore Screen Layout on start", -1, CHECKED
		MENUITEM "Resto&re Desktop on start", -1, CHECKED
	END

	POPUP "&Window"
	BEGIN
		MENUITEM "C&ascade", CM_CASCADECHILDREN
		MENUITEM "&Tile", CM_TILECHILDREN
		MENUITEM "Arrange &Icons", CM_ARRANGEICONS
		MENUITEM "&Next window\tF6", UCM_MDINEXT
		MENUITEM "&Prev window\tShift + F6", UCM_MDIPREV
		MENUITEM "&Zoom\tF5", UCM_ZOOM
		MENUITEM "&UnZoom\tShift + F5", UCM_UNZOOM
	END

	POPUP "   &Help"
	BEGIN
		MENUITEM "&About 3D World...\tCtr+Alt+A", UCM_ABOUT
	END

END

