#include "..\INC\img256.inc"

DDB256_About1    BITMAP256 LOADONCALL MOVEABLE PURE DISCARDABLE
		  ..\IMAGES\about.img
DDB256_Dead1     BITMAP256 LOADONCALL MOVEABLE PURE DISCARDABLE
		  ..\IMAGES\deadN.img
DDB256_Dead2     BITMAP256 LOADONCALL MOVEABLE PURE DISCARDABLE
		  ..\IMAGES\deadS.img
DDB256_Dead3     BITMAP256 LOADONCALL MOVEABLE PURE DISCARDABLE
		  ..\IMAGES\deadP.img
DDB256_About2    BITMAP256 LOADONCALL MOVEABLE PURE DISCARDABLE
		  ..\IMAGES\about2.img


